<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:title" content="Mapping Fossil Ties Database">
    <meta property="og:site_name" content="Mapping Fossil Ties Database">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Interactive web portal tracking ties between universities and the fossil industry">
    <meta property="og:image" content="https://www.mappingfossilties.org/media/map-of-unis-long2-1024x587.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="640">
    <meta property="og:image:type" content="image/jpeg">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>This web portal shows the result of decentralised research into the relationships between Dutch
        universities and the fossil fuel industry. <%= htmlWebpackPlugin.options.title %> requires JavaScript to work.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
  </body>
</html>
